// app global css

@font-face
  font-family 'Trebuchet-MS-Bold'
  src url('./fonts/Trebuchet-MS-Bold.ttf')
  font-family 'Trebuchet-MS'
  src url('./fonts/Trebuchet-MS.ttf')

.titles
  font-size 4vw
  @media (max-width: 1100px)
    font-size 24px

 // define max-width of content pages
.mw
  max-width 1100px
  width 100%
  margin 0 auto 