// app global css

@font-face
  font-family 'Trebuchet MS'
  src url(../assets/fonts/trebuc.ttf)
  font-weight normal
  font-style normal

@font-face
  font-family 'Trebuchet MS'
  src url(../assets/fonts/trebucbd.ttf)
  font-weight bold
  font-style normal

.shadow-global
  box-shadow 0 10px 20px rgba(71,80,89,.15)